/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* −−−−−−−−−−−−−−ここまでリセットcss----------------- */
body {
  overflow: scroll;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #141f40;
  position: relative;
}

.header-item {
  height: 60px;
  width: 160px;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  align-items: center;
  /* display: flex;
  justify-content: space-around; */
}

.item-box {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #a9004b;
}

.contents {
  height: 250px;
  width: 100%;
}

.left-contents {
  height: 100%;
  width: 150px;
  float: left;
  background-color: #80bfa8;
}

.right-contents {
  height: 100%;
  width: 250px;
  float: right;
  background-color: #8c2727;
  position: relative;
}

.right-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.right-box-item {
  height: 50px;
  width: 140px;
  box-sizing: border-box;
  background-color: #ff863f;
  border: 5px solid white;
  margin-bottom: 10px;

}

.footer {
  height: 100px;
  width: 100%;
  float: left;
  /* position: fixed; */
  /* bottom: 0; */
  margin: 0;
  background-color: #d98d30;
}

.clearfix::after { 
  content: ''; 
  display: block; 
  clear: both;
} 
